*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:90px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 40px;

    background:rgba(255,255,255,0.95);
    backdrop-filter:blur(10px);

    box-shadow:0 2px 15px rgba(0,0,0,0.08);
    z-index:1000;
}

/* ================= Logo ================= */

.logo-section{
    display:flex;
    align-items:center;
    gap:12px;
    min-width:280px;
}

.logo-section img{
    width:55px;
    height:55px;
    border-radius:50%;
}

.logo-text h2{
    font-size:16px;
    color:#17376E;
    margin:0;
    font-weight:600;
    line-height:1.2;
}

.logo-text p{
    font-size:12px;
    color:#D89A22;
    margin-top:2px;
    font-weight:500;
}

/* ================= Navigation ================= */

.nav-links{
    width:760px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;

    background:#fff;
    height:60px;
    padding:0 20px;

    border-radius:30px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.nav-links span{
    cursor:pointer;
    color:#333;
    font-size:17px;
    font-weight:600;
    white-space:nowrap;
    letter-spacing:.3px;
    transition:.3s;
}

.nav-links span:hover{
    color:#17376E;
}

/* ================= Right Side Buttons ================= */

.nav-buttons{
    display:flex;
    align-items:center;
    gap:15px;
}

/* ================= Get Started ================= */

.get-started-btn{
    background:#D89A22;
    color:#fff;
    text-decoration:none;
    padding:12px 28px;
    border-radius:12px;
    font-size:15px;
    font-weight:600;
    transition:.3s;
}

.get-started-btn:hover{
    background:#b67d15;
}

/* ================= Login ================= */

.login-btn{
    background:#17376E;
    color:#fff;
    text-decoration:none;
    padding:12px 28px;
    border-radius:12px;
    font-size:15px;
    font-weight:600;
    transition:.3s;

    display:flex;
    align-items:center;
    justify-content:center;
}

.login-btn:hover{
    background:#0f2d5d;
}

/* ================= Dropdown ================= */

.dropdown{
    position:absolute;
    top:60px;
    right:0;
    width:190px;
    background:#fff;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    overflow:hidden;
}

.dropdown a{
    display:block;
    padding:14px 18px;
    text-decoration:none;
    color:#333;
    transition:.3s;
}

.dropdown a:hover{
    background:#17376E;
    color:#fff;
}